/* FORMATOS */
body{
  font-family: 'Roboto', sans-serif;
  background-color: #edebe5;
}

.footer{
  width: 100%;
  height: 20vh;
  margin: 0;
  background-color: #FFFEEC;
  
}

.footer button{
  background-color: #423333;
  width: 17vw;
  height: 8.6vh;
  margin: 0 37px;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 5px 7px 7px -6px black;

}

/* -------------------------INDEX---------------------- */

/* HEADER */
.btnBuscar input{
  border: 1px solid  #0ebdb7;
  border-radius: 20px;
  background-color: #FFFEEC;
}

.btnBuscar button{
  border-radius: 20px;
  background-color: #FFFEEC;
}

.itemsHeader a{
  color: #0ebdb7 !important;
  font-weight: bold;
}

.itemsHeader a:hover{
  text-decoration: underline;
  background-color: #FFFEEC;
}

/* MAIN */
.containerMain {
  display: grid;
  grid-template-areas: "logo banner";
  grid-template-columns: 2fr 5fr;
  align-items: start;
}

/* LOGO  */
.containerImg {
  text-align: center;
  grid-area: logo;
  align-self: center;
}

.imgLogo {
  width: 70%;
  height: 30vh;
}

/* BANNER */
.containerBanner {
  background-color: #0ebdb7;
  text-align: center;
  width: 100%;
  height: 90%;
  grid-area: banner;
}

.imgBanner {
  /* background-size: 100px 30px; */
  width: 100%;
  height: 30vh;

}

/* TEXTO ESLOGAN */
/* .parrafoLogo {
  text-align: center;
} */

/* LINKS DEL NAV */
.menuNavItem {
  margin-right: 20px;
}

.menuNavItem a{
  color: #0ebdb7 !important;
  font-weight: bold;
}

.menuNavItem a:hover{
  text-decoration: underline;
  background-color: #edebe5;
}

/* NAV */
.menuNav {
  display: flex;
  align-items: flex-start;
  grid-area: navI;
  margin-bottom: 25px;
}

.menuNavItems {
  display: flex;
  justify-content: space-around;
  background-color: #FFFEEC;
}

.navbar-menu{
  width: 71.1vw;
  justify-self: end;
}


/* GRID INDEX*/
.containerIndex {
  display: grid;
  grid-template-areas:
    ".. navI"
    ".. textI"
    ".. btnI";
  grid-template-columns: 1.6fr 4fr;
  grid-template-rows: 2fr 3fr 2fr;
}

/* PARRAFO */
.textIndex {
  grid-area: textI;
  width: 50%;
  text-align: center;
  justify-self: center;
  background-color: #FFFEEC;
  width: 100%;
  height: 100%;
}

/* BOTON */
.btnIndex {
  grid-area: btnI;
  justify-self: center;
  align-self: center;
}

.btnIndex button {
  border-radius: 10px;
  width: 250px;
  height: 50px;
  border: 1px solid #0ebdb7;
  background-color: #0ebdb7;
  color: white;
  font-weight: bold;
}

.btnIndex button:hover{
  transform: scale(1.1, 1.1);
}

/* -------------------------REGALA---------------------- */

/* TITULO */
.titleRegala{
  grid-area: titleR;
}

.titleRegala h1{
  font-weight: bold;
}

/* GIFT */

.giftUno{
  grid-area: giftR;
  text-align: center;
  align-self: center;
  background-color: #FFFEEC;
  width: 50%;
  height: 90%;
}

/* NAVBAR REGALA */
.navbarRegala{
  grid-area: navR;
}

/* PARRAFO REGALA */
.textRegala{
  grid-area: parrafoR;
  justify-self: center;
}

/* GRID REGALA */
.containerRegala {
  display: grid;
  grid-template-areas:
    ".. navR"
    ".. titleR"
    ".. giftR"
    ".. parrafoR";
  grid-template-columns: 1.6fr 4fr;
  grid-template-rows: 0.5fr 0.5fr 2fr 0.5fr;
}

/* -------------------------PRODUCTOS---------------------- */

.containerProductos{
  display: flex;
  justify-content: space-between;
}

.navbarProductos{
  grid-area: navP;
}

.gridProductos{
  grid-area: gridProductos;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
}

.subcategorias{
  height: 60vh;
  width: 16vw;
  position: sticky;
  top: 130px;
  z-index: 999;
  height: max-content;
  margin: 12vh 2vw;
  grid-area: subcategorias;
}

.categoriaElegida{
  height: 8vh;
  margin: auto;
  padding: 9px;
  grid-area: categoriaElegida;
}

.categoriaElegida h2{
  color: #22BCB5;
  font-weight: bolder;
}

.gridP{
  width: 78vw;
  display: grid;
  grid-template-areas:
    "navP"
    "categoriaElegida"
    "gridProductos"
    "gridProductos";
  grid-template-columns: 1fr;
}

.card{
  border-radius: 12px;
  width: 38vw;
}

.card img{
  margin-top: 20px;
}

.card-img-top {
  width: 100%;
  object-fit: cover;
  height: 60vh;
}

.subcategorias button{
  margin: 20px 20px;
  padding: 0;
  height: 60px;
	cursor: pointer;
  color: #55C8C1;
  font-weight: 500;
  font-size: 18px;
}

.subcategorias button:focus{
  box-shadow: none;
  text-decoration: underline;
}

.categoriaElegida h3{
  width: 22vw;
  height: 5vh;
  margin: 5px;
}

.deco, .disfraces, .linea-bebe, .linea-juguetes{
  grid-template-columns: 1fr 1fr;
}

/* -------------------------MAYORISTAS---------------------- */
.bannerMayoristas{
  grid-area: imgM;
}

.navbarMayoristas{
  grid-area: navM;
  justify-self: end;
}

.titleMayoristas{
  grid-area: titleM;
  justify-self: center;
  max-width: max-content;
  text-align: center;
  align-self: center;
  margin: 10px;
}

.titleMayoristas h1{
  color: #22BCB5;
  font-weight: bolder;
}

.mayoristasCiudades{
  grid-area: ciudadesM;
  justify-self: center;
}

.titleMayoristas2{
  grid-area: title2M;
  justify-self: center;
  align-self: center;
  color: #22BCB5;
  font-weight: bolder;
}

.titleMayoristas2 h3{
  font-weight: bold;
  color: #22BCB5;
  font-weight: bolder;
}

.containerMayoristas {
  display: grid;
  grid-template-areas:
    "navM"
    "titleM"
    "ciudadesM"
    "title2M";
  grid-template-columns: 1fr;
}

.mayoristasCiudades a{
  text-decoration: none;
  margin: 5px;
}

.mayoristasCiudades button{
  width: 60vw;
  height: 8vh;
  border-radius: 5px;
  padding: 10px;
  background-color: #FFFEEC;
  color: #55C8C1;
  font-weight: bold;
}

.spanData{
  width: 65%;
  text-align: left;
}


/* PREGUNTAS FRECUENTES */
.navbarPreguntas{
  grid-area: navPreg;
  justify-self: end;
}

.titlePreguntas{
  grid-area: titlePreg;
  justify-self: center;
  max-width: max-content;
  text-align: center;
  align-self: center;
  margin: 10px;
  color: #22BCB5;
  font-weight: bolder;
}

.titlePreguntas2{
  grid-area: titlePreg2;
  justify-self: center;
  align-self: center;
  font-size: 1.5rem !important;
  width: 70vw;
  margin: 5vw;
  color: #22BCB5;
  font-weight: bolder;
}

.preguntas{
  grid-area: preguntas;
  justify-self: self-start;
  align-self: center;
  margin: 2vh auto;
}

summary{
  background-color: #22BCB5;
  ;
  border-radius: 10px;
  padding: 15px;
  width: 67vw;
  text-align: center;
}

summary[open]{
  text-align: center;
}

details{
  margin: 15px 0;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 67vw;
}

details[open]{
  text-align: center;
  padding-bottom: 10px;
}



.containerPreguntas {
  display: grid;
  grid-template-areas:
    "navPreg"
    "titlePreg"
    "preguntas"
    "titlePreg2";
  grid-template-columns: 1fr;
}

/* RESPONSIVE IMAGENES PARA MOBILE */
@media (max-width: 576px) {
  .imgLogo {
    height: 10vh;
  }
  .imgBanner {
    height: 10vh;
    width: 100%;
  }
  
  .subcategorias{
    height: 85vh;
    width: 30vw;
    top: 30px;
    margin: 12vh 0vw;
  }
  
  .subcategorias button{
    width: 25vw;
    padding: 0;
  }
  
  .gridProductos{
    grid-template-columns: 1fr;
  }

  .card {
    width: 60vw !important;
  }

  /* .deco .card-img-top, .disfraces .card-img-top, .linea-bebe .card-img-top, .linea-juguetes  */.card-img-top {
    height: 30vh;
  }

  .mayoristasCiudades button {
    width: 90vw;
    height: 12vh;
  }

  .footer button{
    width: 35vw;
  }

  .containerHeader{
    display: grid !important;
    grid-template-areas: 
    ".. form" 
    ".. items";
  }

  .btnBuscar{
    grid-area: form;
  }

  .navPrincipal{
    grid-area: items;
  }

  .itemsHeader{
    display: flex;
    flex-direction: row;
  }

  .itemsHeader a{
    margin-right: 10px;
  }

  .containerIndex {
    display: grid;
    grid-template-areas:
      "navI"
      "textI"
      "btnI";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .containerRegala {
    display: grid;
    grid-template-areas:
      "navR"
      "titleR"
      "giftR"
      "parrafoR";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px){
  .subcategorias{
    height: 85vh;
    width: 25vw;
    top: 30px;
  }
  
  .gridProductos{
    grid-template-columns: 1fr;
  }

  .card {
    width: 60vw !important;
  }

  .card-img-top {
    height: 30vw;    
  }

  .gridP{
    margin: auto;
  }

  .subcategorias button{
    width: 35vw;
    padding: 5px;
  }

  .imgLogo {
    height: 20vh;
  }
  .imgBanner {
    height: 20vh;
    width: 100%;
  }

  .mayoristasCiudades button {
    width: 70vw;
    height: 12vh;
  }

  .footer button{
    width: 35vw;
  }

  .containerHeader{
    display: grid !important;
    grid-template-areas: 
    ".. form" 
    ".. items";
  }

  .btnBuscar{
    grid-area: form;
  }

  .navPrincipal{
    grid-area: items;
  }

  .itemsHeader{
    display: flex;
    flex-direction: row;
  }

  .itemsHeader a{
    margin-right: 10px;
  }

  .containerIndex {
    display: grid;
    grid-template-areas:
      "navI"
      "textI"
      "btnI";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .containerRegala {
    display: grid;
    grid-template-areas:
      "navR"
      "titleR"
      "giftR"
      "parrafoR";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px){
  .imgLogo {
    height: 20vh;
  }
  .imgBanner {
    height: 20vh;
    width: 100%;
  }

  .gridProductos{
    grid-template-columns: 1fr 1fr;
  }

  .card {
    width: 30vw;
  }

  /* .deco .card-img-top, .disfraces .card-img-top, .linea-bebe .card-img-top, .linea-juguetes  */.card-img-top {
    height: 40vh;    
  }

  .footer button{
    width: 35vw;
  }
}